apiVersion: apps/v1
kind: Deployment
metadata:
  name: esme-app
  namespace: esme-tp-klaraesme
spec:
  replicas: 3
  selector:
    matchLabels:
      app: esme-app
  template:
    metadata:
      labels:
        app: esme-app
    spec:
      containers:
        - name: esme-app
          image: klaragtr/esme-app:v1.0.0
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          envFrom:
            - configMapRef:
                name: esme-config
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
